.container{
    display: flex;
    justify-content: space-evenly;

}
.heading{
   
}
.link{
    justify-content: space-around;
    /* border: 1px solid grey; */
}
.link a{

    padding: 10px 40px;
    border: 1px solid grey;
    margin: 20px 0px 10px 10px;


}